{
	auto_https off
	servers {
		trusted_proxies static private_ranges
	}
}

:{$PORT:8080} {
	bind 0.0.0.0
	root * /app/public
	encode gzip zstd
	php_server
	log {
		output stdout
		format console
	}
}
