{
    auto_https off
    admin off
}

:8080 {
    root * /app/public
    encode zstd gzip

    php_server {
        root /app/public
        index index.php
    }

    try_files {path} {path}/ /index.php?{query}
    file_server
}
